@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100&family=Oswald:wght@200&family=Roboto&family=Roboto+Slab:wght@100;400&family=Ubuntu:wght@500&display=swap');

.header{
    text-align: center;
    width: 99vw;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #f0f5f1;
}

.topic{
    padding-top: 10px;
    text-decoration: none;
    color: #1a1929;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.drop-down{
    margin-left: 30px;
    border: none;
    background-color: #f0f5f1;
}

.linksContainer-one{
    margin-top: 160px;
    margin-left: 27vw;
    position: absolute;
    text-align: left;
    border: 1px solid rgb(164, 164, 218);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: none;
}

.linksContainer-one > a{
    text-decoration: none;
    color: black;
}

.linksContainer-one > a:hover{
    color: #e6ad91;
}

.linksContainer-two{
    margin-top: 160px;
    margin-left: 47vw;
    position: absolute;
    text-align: left;
    border: 1px solid rgb(164, 164, 218);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: none;
}

.linksContainer-two > a{
    text-decoration: none;
    color: black;
}

.linksContainer-two > a:hover{
    color: #e6ad91;
}

.linksContainer-three{
    margin-top: 140px;
    margin-left: 63vw;
    position: absolute;
    text-align: left;
    border: 1px solid rgb(164, 164, 218);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: none;
}

.linksContainer-three > a{
    text-decoration: none;
    color: black;
}

.linksContainer-three > a:hover{
    color: #e6ad91;
}

.material-symbols-outlined > a{
    text-decoration: none;
    color: black;
    padding-top: 30px;
}

.div-search{
    margin-left: 70px;
}

.div-search > button{
    border: 1px solid red;
    border-radius: 10px;
}

.div-search > button:hover{
    background-color: red;
}

.show-details{  
    padding-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}

table{
    text-align: center;
    margin-left: 100px;
}

th{
    padding: 10px;
}

td{
    padding: 10px;
}

.footer{
    height: auto;
    background-color: rgba(11, 5, 24, 0.986);
    color: white;
    margin-top: 10px ;

    .a{
        color: white;
    }
}